*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: var(--dark-black);
}
.container{
    width: 80%;
    margin: 0 auto;
}

/********* Flexbox**********/
.net-flex{
    display: flex;
}

.net-justify-between{
    justify-content: space-between;
}
.net-align-center{
    align-items: center;
}
.net-gap-2{
    gap: 2rem;
}

.net-gap-1{
    gap: 1rem;
}
.net-gap-2{
    gap: 2rem;
}


/********* Colors pallet **********/

:root{
    --dark-black : #000;
    --primary-color: #E50914;
    --white-color : #fff;
    --gray-color : #414141;
    --section-gap : 2rem 0rem;
}

.global-section-gap{
  margin: var(--section-gap);
}
/*********** Button design **********/
#primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}
#secondary-btn{
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
}

/****Font size **********/
h1{
    font-size: 4rem;
    line-height: normal;
    color: var(--white-color);
}

p{
    font-size: 1.1rem;
    color: var(--white-color);
    padding: 10px 0px;
}
/************** Header design******************/
#main-nav {
    padding: 15px 0px;
}
.rightnav-box button{
    cursor: pointer;
}
header{
    background: url('images/banner-img.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
header:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #00000081;
}
#banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#banner-content p{
    padding: 25px 0px;
}
nav{
    z-index: 9999;
    position: relative;
}

/*******  Banner curve design*******/
.curve-design {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(
                    50% 500% at 50% -420%,
                    rgba(64, 97, 231, 0.4) 80%,
                    rgba(0, 0, 0, 0.1) 100%
                ),black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
}
.curve-design:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(
                    to right,
                    rgba(33, 13, 22, 1) 16%,
                    rgba(184, 40, 105, 1),
                    rgba(229, 9, 20, 1),
                    rgba(184, 40, 105, 1),
                    rgba(33, 13, 22, 1) 84%
                );
}
#header-bottom-curve{
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
}


/******* Trending Card Container **********/
.trending-card-container{
    padding-top: 40px;
}
.trending-card-container .trending-card{
    position: relative;
}
.trending-card-container .trending-number{
    position: absolute;
    left: -30px;
    right: 0px;
    bottom: 0px;
    font-size: 100px;
}