*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background-color: var(--dark-black);
}
.container{
    width: 80%;
    margin: 0 auto;
}

/********* Flexbox**********/
.net-flex{
    display: flex;
}

.net-justify-between{
    justify-content: space-between;
}
.net-align-center{
    align-items: center;
}
.net-gap-2{
    gap: 2rem;
}

.net-gap-1{
    gap: 1rem;
}
.net-gap-2{
    gap: 2rem;
}


/********* Colors pallet **********/

:root{
    --dark-black : #000;
    --primary-color: #E50914;
    --white-color : #fff;
    --gray-color : #414141;
    --section-gap : 3rem 0rem;
}

.global-section-gap{
  margin: var(--section-gap);
}

.net-white{
    color: var(--white-color);
}
.net-black{
    color: var(--dark-black);
}
/*********** Button design **********/
#primary-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 30px;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
}
#secondary-btn{
    background-color: transparent;
    color: #fff;
    padding: 15px 30px;
    border: 1.5px solid var(--gray-color);
    border-radius: 5px;
}

/****Font size **********/
h1{
    font-size: 4rem;
    line-height: normal;
    color: var(--white-color);
}

p{
    font-size: 1rem;
    color: var(--white-color);
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5rem;
}
a{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
}
.cursor-pointer{
    cursor: pointer;
}
/************** Header design******************/
#main-nav {
    padding: 15px 0px;
}
.rightnav-box button{
    cursor: pointer;
}
header{
    background: url('images/banner-img.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
header:before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #00000081;
}
#banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#banner-content p{
    padding: 25px 0px;
}
nav{
    z-index: 9999;
    position: relative;
}

/*******  Banner curve design*******/
.curve-design {
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    top: 0;
    margin: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: solid .25rem transparent;
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    border-bottom: none;
    background: radial-gradient(
                    50% 500% at 50% -420%,
                    rgba(64, 97, 231, 0.4) 80%,
                    rgba(0, 0, 0, 0.1) 100%
                ),black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
}
.curve-design:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-top: -.25rem;
    border-radius: inherit;
    background: linear-gradient(
                    to right,
                    rgba(33, 13, 22, 1) 16%,
                    rgba(184, 40, 105, 1),
                    rgba(229, 9, 20, 1),
                    rgba(184, 40, 105, 1),
                    rgba(33, 13, 22, 1) 84%
                );
}
#header-bottom-curve{
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 6.25rem;
    z-index: 1;
}


/******* Trending Card Container **********/
.trending-card-container{
    padding-top: 40px;
}
.trending-card-container .trending-card{
    position: relative;
}
.trending-card-container .trending-number {
    left: -30px;
    bottom: 20px;
    font-size: 5rem;
    line-height: 1;
    position: absolute;
    font-weight: 900;
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}
.top-movies-btn{
    font-family: Arial, Helvetica, sans-serif;
}

.top-movies-btn:hover{
    background-color: var(--primary-color);
}

/****** Reason to choose section*****/
#reason-to-choose .icon-box i {
    background: linear-gradient(224deg, #ffd7d7, #e40914, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 1.8rem;
}
.reason-box-containter {
    margin-top: 1.5rem;
    padding: 2rem;
    background: #282828;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(64 64 64 / 30%);
}
#reason-to-choose .icon-box {
    display: block;
    text-align: right;
    padding-top: 20px;
}

/***** Accordion Section *********/
#question-accordion{
    backdrop-filter: blur(10px);
    background-color: #cecdcd44;
    margin: 15px 0px;
}
#question-accordion .question-card{
    padding: 20px;
}
#question-accordion h3{
  color: #fff;
  font-weight: 400;
}
#frequently-asked-qns p {
    background-color: #474747;
    padding: 20px;
}

/***** Get started section ********/
#get-started .get-started-wrapper{
    text-align: center;
}


/**** netflix Footer *******/
#net-footer-main{
    background-color: #030303;
    padding: 30px 0px;
}

#footer-menu-wrapper .footer-menu-item{
    padding: 8px 0px;
}

.footer-btn-box{
    padding-top: 30px;
}

#footer-netflix-mark{
    padding-top: 30px;
    font-size: 1.3rem;
}